.btn{
    max-width: 164px;
     background-color: #469165;
     color: white;
     padding: 16px;
     margin-right: 120px;
     border: none;
     
}
 
.navbar-text{
    display: flex;
    gap: 50px
    ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-pic{
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.btn-text{
    font-size: 16px;
    font-weight: 600px;
    line-height: 19px;
    font-style: semi bold;
    
    display: flex;
    justify-content: space-between;
}