
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
     font-family: "Inter", sans-serif;
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
.btn{
    max-width: 164px;
     background-color: #469165;
     color: white;
     padding: 16px;
     margin-right: 120px;
     border: none;
     border-radius: 8px;
     
}
 
.navbar-text{
    display: flex;
    gap: 50px
    ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-pic{
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.btn-text{
    font-size: 16px;
    font-weight: 600px;
    line-height: 19px;
    font-style: semi bold;
    
    display: flex;
    justify-content: space-between;
}
.banner-btn{
    color: #469165;
    background-color: white;
     padding: 8px 12px 8px 34px;
     border-radius: 8px;
}
.banner-btn-2{
    color: white;
    background-color: #469165;
    padding: 12px;
    padding-right: 36px;
    border-radius: 8px;

}
.banner-btn-2-2{
    color: white;
    background: transparent;
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.banner{
    background: url("./assets/hero-bg.png");
    text-align: center;
    padding-top: 150px;
    padding-bottom: 194px;
}
.banner .h1{
    font-size: 72px;
    font-weight: 700px;
    font-style: bold;
    line-height: 84px;
    color: white;
    padding-top: 40px;
    margin-bottom: 16px;
}
.banner .h2{
    font-size: 72px;
    font-weight: 700px;
    font-style: bold;
    line-height: 84px;
    color: #469165;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.banner p{
    color: white;
    padding-top: 16px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 30px;
}
.note h1{
    font-size: 48px;
    text-align: center;
    font-weight: 600px;
    font-style: bold;
    padding-top: 50px;
    padding-bottom: 16px;
}
.note p{
    text-align: center;
    color: #469165;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 45px;
}
.info-box .info-card .card-pic{
    background: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding-top: 14px;
    gap: 25px;
    margin: 0 auto;
    justify-content: center;
     
     
}
.info-box{
    display: flex;
   gap: 24px;
     margin: 0 auto; 
     padding: 0 200px;
     margin-bottom: 120px;
}
.info-box .info-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #0000003d;
    height: 400px;
    text-align: center;
    padding-top: 70px;

    
}
.info-box .info-card img{
    max-width: 44px;
    margin-bottom: 16px;
}
.info-box .info-card h2{
    padding-top: 16px;
    margin-bottom: 16px;
}
.info-card p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #469165;
}
